// anything reusable such as buttons, navbars, cards etc.

.btn-config {
    display: flex;
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 300;
}

.btn {
    border: none;
    padding: 1.25rem .75rem;
    border-radius: 8px;
    font-weight: 300;
}

.btn-config {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
}

.btn-config a:first-child {
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #5463FF;
}

.btn-danger {
    background-color: #FF1818;
    cursor: pointer;
}

.section {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.section h1 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

.label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    color: #5463FF; 
    margin-top: 1rem;
}

.input {
    margin-top: 1rem;
}

#productType {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.btn-success {
    font-family: 'Roboto', sans-serif;
    padding: .75rem 2rem;
}