// contains all the CSS that handles the layout, such as the container and any grid systems.

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

.navbar {   
    max-width: 1440px;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid black;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section h1 {
    margin-top: 1rem;
    padding: 0;
}

.hero {
    max-width: 1440px;
    width: 100%;
    margin: auto;

    form {
        margin-top: 2rem;
    }
}

.card-text {
    line-height: 2rem;
}

.item-card {
    border: 2px solid black;
    text-align: center;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
        
    .delete-checkbox {
        position: absolute;
        left: 0;
        transform: translateX(50%);
    }
}


.grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
}

.card {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.card h1 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

.secondary-title {
    max-width: 1440px;
    width: 100%;
    margin: auto;

    h1 {
        font-size: 1.75rem;
        font-family: 'Roboto', sans-serif;
    }
}