@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
.navbar {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  border-bottom: 2px solid black;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section h1 {
  margin-top: 1rem;
  padding: 0; }

.hero {
  max-width: 1440px;
  width: 100%;
  margin: auto; }
  .hero form {
    margin-top: 2rem; }

.card-text {
  line-height: 2rem; }

.item-card {
  border: 2px solid black;
  text-align: center;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative; }
  .item-card .delete-checkbox {
    position: absolute;
    left: 0;
    transform: translateX(50%); }

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem; }

.card {
  max-width: 1440px;
  width: 100%;
  margin: auto; }

.card h1 {
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif; }

.secondary-title {
  max-width: 1440px;
  width: 100%;
  margin: auto; }
  .secondary-title h1 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn-config {
  display: flex;
  justify-content: flex-end; }

.navbar-brand {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: 300; }

.btn {
  border: none;
  padding: 1.25rem .75rem;
  border-radius: 8px;
  font-weight: 300; }

.btn-config {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff; }

.btn-config a:first-child {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #5463FF; }

.btn-danger {
  background-color: #FF1818;
  cursor: pointer; }

.section {
  max-width: 1440px;
  width: 100%;
  margin: auto; }

.section h1 {
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif; }

.label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: #5463FF;
  margin-top: 1rem; }

.input {
  margin-top: 1rem; }

#productType {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.btn-success {
  font-family: 'Roboto', sans-serif;
  padding: .75rem 2rem; }
